.profile-name {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card .card-body .date {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 600;
}

.nav-profile .profile-name .role {
    font-size: 12px;
    opacity: 0.6;
    color: #2e2e2e;
}

.profile-img {
    border-radius: 100%;
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.required::after {
    content: "*";
    color: rgb(228, 19, 19);
}

div.swal-text {
    text-align: center;
}
